.footer_outer_container{
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(148, 132, 132); */
    background-color: rgb(20, 20, 20);
    /* background-color: transparent; */
    height: 100px;
    color: white;
    transition: all 0.5s;
    transition-timing-function: ease-in;
    z-index: 1;
    /* background-color: rgb(131, 42, 42); */
}
.footer_inner_container{
width: 90%;
display: flex;
justify-content: space-between;
align-items: center;
/* text-decoration: none; */
}

.footer_data ul{
    width: 140%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    cursor: pointer;
    /* background-color: lightgreen; */ 
}
.service_code{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copy-write{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}